%% -*- erlang -*-
{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include dir exists
  {compile,
   "deps/gpb/bin/protoc-erl -I `pwd`/proto -o-erl src -o-hrl include -modsuffix _pb `pwd`/proto/*.proto"
  }]}.

{post_hooks,
 [{clean,
   "bash -c 'for f in proto/*.proto; "
   "do "
   "  rm -f src/$(basename $f .proto)_pb.erl; "
   "  rm -f include/$(basename $f .proto)_pb.hrl; "
   "done'"}
 ]}.

 {erl_opts, [debug_info, {i, "deps/gpb/include"}]}.

{deps, [
    {gpb, [], {git, "git://github.com/lrascao/gpb.git", {branch, "add_protoc_cmdline_tool"}}}
]}.

{clean_files, ["*~","**/*~","**/*.beam"]}.

{cover_enabled, true}.
