%% -*- erlang -*-

 {erl_opts, [debug_info,
 			 {i, "deps/gpb/include"},
 			 {src_dirs, ["src", "test"]}
 			]}.

{proto_compiler, gpb}.
{gpb_opts, [{i, "."},
		    {o_erl, "src"},
		    {o_hrl, "include"},
	   	    {src, "include"},
		    {module_name_suffix, "_pb"}]}.

{deps,
	[
    	{gpb, [], {git, "git://github.com/tomas-abrahamsson/gpb", {branch, "master"}}}
	]}.

{clean_files, ["*~","**/*~","**/*.beam"]}.

{cover_enabled, true}.
