%% -*- erlang -*-
{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include dir exists
  {compile,
   "erl +B -noinput -pa deps/gpb/ebin "
   "    -I`pwd`/proto -o-erl src -o-hrl include "
   "    -s gpb_compile c `pwd`/proto/*.proto -modsuffix _pb"
  }]}.

{post_hooks,
 [{clean,
   "bash -c 'for f in proto/*.proto; "
   "do "
   "  rm -f src/$(basename $f .proto)_pb.erl; "
   "  rm -f include/$(basename $f .proto)_pb.hrl; "
   "done'"}
 ]}.

 {erl_opts, [debug_info, {i, "deps/gpb/include"}]}.

{deps, [
    {gpb, [], {git, "git://github.com/lrascao/gpb.git", {branch, "proto_service_metadata"}}}
]}.

{clean_files, ["*~","**/*~","**/*.beam"]}.

{cover_enabled, true}.
